@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot');
  src: url('../fonts/fontello.eot') format('embedded-opentype'),
       url('../fonts/fontello.woff2') format('woff2'),
       url('../fonts/fontello.woff') format('woff'),
       url('../fonts/fontello.ttf') format('truetype'),
       url('../fonts/fontello.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?90078579#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-mail:before { content: '\e800'; } /* '' */
.icon-mobile:before { content: '\e801'; } /* '' */
.icon-mobile-2:before { content: '\e802'; } /* '' */
.icon-mobile-3:before { content: '\e803'; } /* '' */
.icon-mobile-4:before { content: '\e804'; } /* '' */
.icon-plus:before { content: '\e805'; } /* '' */
.icon-minus:before { content: '\e806'; } /* '' */
.icon-left-open:before { content: '\e807'; } /* '' */
.icon-right-open:before { content: '\e808'; } /* '' */
.icon-down:before { content: '\e809'; } /* '' */
.icon-left:before { content: '\e80a'; } /* '' */
.icon-right:before { content: '\e80b'; } /* '' */
.icon-up:before { content: '\e80c'; } /* '' */
.icon-comment:before { content: '\e80d'; } /* '' */
.icon-comment-1:before { content: '\e80e'; } /* '' */
.icon-comment-alt2:before { content: '\e80f'; } /* '' */
.icon-comment-2:before { content: '\e810'; } /* '' */
.icon-up-1:before { content: '\e811'; } /* '' */
.icon-right-small:before { content: '\e812'; } /* '' */
.icon-left-small:before { content: '\e813'; } /* '' */
.icon-down-small:before { content: '\e814'; } /* '' */
.icon-up-small:before { content: '\e815'; } /* '' */
.icon-right-1:before { content: '\e816'; } /* '' */
.icon-left-1:before { content: '\e817'; } /* '' */
.icon-down-1:before { content: '\e818'; } /* '' */
.icon-mobile-5:before { content: '\f034'; } /* '' */
.icon-comment-empty:before { content: '\f0e5'; } /* '' */
.icon-mobile-1:before { content: '\f10b'; } /* '' */
